.menu li a.active{
    color: rgb(2, 21, 58);
    /*background: rgba(204, 241, 255, 0.81);*/
    /*color: #043fdd;*/
    font-weight: 700;
    text-decoration: underline;
}


.menu li a{
    color: #0ea5e9;
    /*background: rgba(204, 241, 255, 0.81);*/
    /*color: #043fdd;*/
    font-weight: 500;
}